.app-section {
  border: 2px solid #1a1a1a;
  border-radius: 4px;
  height: 100vh;
  margin-top: 20px;
}

.inline {
  display: inline;
}

.counterUpDown {
  margin-left: 10px;
  margin-right: 10px;
}

.counter {
  font-weight: 700;
  text-decoration: underline;
}

/* .form-element-holder {
  margin-top: 10px;
  margin-bottom: 10px;
} */